@import url("https://fonts.googleapis.com/css?family=Mina:700");
@import "bootstrap";

$customfont: "mina";


.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

body {
  background-image: url("../src/assets/snake5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: $customfont;
  font-size: larger;

}

.container {
    position: relative;
    left: 250px;
    top: 150px;
}

.form-label {
    padding-bottom: 1px;
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 4px;
}

h1 {
 text-shadow: #42a948 10px 7px 5px;
}