@import url("https://fonts.googleapis.com/css?family=Mina:700");
@import "bootstrap";

$customfont: "mina";

body {
  background-image: url("../src/assets/snake5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: $customfont;
  font-size: larger;
}
