@import url("https://fonts.googleapis.com/css?family=Mina:700");
@import "bootstrap";

$customfont: "mina";

body {
  background-image: url("../src/assets/snake5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: $customfont;
  font-size: larger;
}

.my-text {
  -webkit-text-stroke: 1.3px rgb(35, 148, 56);
  font-size: 1.6rem;
  color: black;
  padding: 0px 0px 0px 0px;
}
