.filterForm {
    width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.filterForm input[type="text"],
.filterForm input[type="submit"],
.filterForm select {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.filterForm label {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}